<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Woof Walks</title>
</head>

<body>
  <%- include('partials/_navbar.ejs') %>
    <h1>Woof Walks</h1>
    <p>An for finding you a dog sitter</p>
</body>

</html>