<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Woof Walks!</title>
  </head>
  <a href="/">Home</a>
  <a href="/profile">Profile</a>
  <a href="/profile/new">New Profile</a>
  <a href="/auth/sign-in">Sign in</a>
  <a href="">New Account</a>
  <body>
    <h1>Welcome to the Woof Walks!</h1>
    
    <p>An app for finding dogsitters!</p>
  </body>
</html>
